<!--<div>
  <h1>Profile</h1>
  <p>Loading profile...</p>
  <p>Saving profile...</p>
  <p>Error!</p>
  <div>
    <label>Username:</label>
    <input type="text"/>
    <input type="button" value="Save"/>
  </div>
</div>-->
<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Profile</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <div ng-switch="$ctrl.status">
      <p ng-switch-when="LOADING">Loading profile...</p>
      <p ng-switch-when="SAVING">Saving profile...</p>
      <p ng-switch-when="ERROR">Error! {{$ctrl.errorMessage}}</p>
    </div>
    <md-input-container>
      <label>Username:</label>
      <input type="text" ng-model="$ctrl.username" ng-disabled="$ctrl.usernameDisabled">
    </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-disabled="$ctrl.saveDisabled" ng-click="$ctrl.saveProfile()">Save</md-button>
  </md-card-actions>
</md-card>
